# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Folders
singles2randoms4d_castor/
castor/File_test_castor
castor/build
castor/install/*
2.9.2_new_mat_table/obj/*
2.9.2_new_mat_table/phg.data/coh.tables/*
2.9.2_new_mat_table/phg.data/phg_att_table

# additional files
program_names.odt
